[user]
	name = Sebastien Cunin
	email = 640614+sebby@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim

# Add the alias
[alias]
  sort-branches-by-date = !git for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short)' refs/heads/
